<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Patient</h2>
	</div>
	<p class="alert alert-danger" th:if="${!#strings.isEmpty(ErrorPatientExistentMessage)}" th:text="${ErrorPatientExistentMessage}"></p>

	<div class="row">
		<form action="#" th:action="@{/patient/add/validate}"  method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="givenName" class="col-sm-2 control-label">Given Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.givenName}" id="givenName" placeholder="Given Name" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.givenName')}" th:errors="*{patientToCreate.givenName}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="familyName" class="col-sm-2 control-label">Family Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.familyName}" id="familyName" placeholder="Family Name" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.familyName')}" th:errors="*{patientToCreate.familyName}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="birthdate" class="col-sm-2 control-label">Birthdate</label>
				<div class="col-sm-10">
					<input type="date" th:field="*{patientToCreate.birthdate}" id="birthdate" placeholder="birthdate" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.birthdate')}" th:errors="*{patientToCreate.birthdate}"></p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10">
					<select name="gender">
						<option th:each="gender : ${T(com.mediscreen.patients.repository.GenderEnum).values()}"
								th:value="${gender}" th:text="${gender.displayValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="street" class="col-sm-2 control-label">Street</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.address.street}" id="street" placeholder="street" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.address.street')}" th:errors="*{patientToCreate.address.street}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="city" class="col-sm-2 control-label">City</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.address.city}" id="city" placeholder="city" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.address.city')}" th:errors="*{patientToCreate.address.city}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="postcode" class="col-sm-2 control-label">Postcode</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.address.postcode}" id="postcode" placeholder="postcode" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.address.postcode')}" th:errors="*{patientToCreate.address.postcode}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="district" class="col-sm-2 control-label">District</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.address.district}" id="district" placeholder="district" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.address.district')}" th:errors="*{patientToCreate.address.district}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="state" class="col-sm-2 control-label">State</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.address.state}" id="state" placeholder="state" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.address.state')}" th:errors="*{patientToCreate.address.state}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="country" class="col-sm-2 control-label">Country</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.address.country}" id="country" placeholder="country" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.address.country')}" th:errors="*{patientToCreate.address.country}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="emailAddress" class="col-sm-2 control-label">Email Address</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.emailAddress}" id="emailAddress" placeholder="emailAddress" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.emailAddress')}" th:errors="*{patientToCreate.emailAddress}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{patientToCreate.phoneNumber}" id="phoneNumber" placeholder="phoneNumber" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('patientToCreate.phoneNumber')}" th:errors="*{patientToCreate.phoneNumber}"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" href="/patient/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Add patient">
				</div>
			</div>

		</form>
	</div>

</div>
</body>
</html>